.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    /* Adjust the min and max width as needed */
    gap: 20px;
    /* Adjust the gap between projects */
    padding: 20px;
}